<?xml version="1.0" encoding="UTF-8"?>
<!-- 
/**
 * 
 * @category: Magepow
 * @Copyright (c) 2014 Magepow  (<https://www.magepow.com>)
 * @authors: Magepow (<magepow<support@magepow.com>>)
 * @date:    2021-03-10 13:26:29
 * @license: <http://www.magepow.com/license-agreement>
 * @github: <https://github.com/magepow> 
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <magepow_ajaxcompare>
            <general>
                <enabled>1</enabled>
                <message>has been added to your Comparision list.</message>
                <popupttl>10</popupttl>
                <loader>0</loader>
            </general>
        </magepow_ajaxcompare>
    </default>
</config>