<?xml version="1.0" encoding="UTF-8"?>
<!-- 
/**
 * 
 * @category: Magepow
 * @Copyright (c) 2014 Magepow  (<https://www.magepow.com>)
 * @authors: Magepow (<magepow<support@magepow.com>>)
 * @date:    2021-03-10 13:26:29
 * @license: <http://www.magepow.com/license-agreement>
 * @github: <https://github.com/magepow> 
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="magepow" translate="label" sortOrder="102">
            <label>Magepow</label>
        </tab>
        <section id="magepow_ajaxcompare" translate="label" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Ajax Compare</label>
            <tab>magepow</tab>
            <resource>Magepow_AjaxCompare::config_ajaxcompare</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="1" >
                <label>General</label>
                <field id="enabled" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1"
                       showInStore="1" canRestore="1">
                    <label>Enable Ajax Compare</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="message" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                       showInStore="1" canRestore="1">
                    <label>Message After Adding Products to Compare</label>
                </field>
                <field id="popupttl" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1"
                       showInStore="1" canRestore="1">
                    <label>Popup Will Close After</label>
                    <validate>validate-digits validate-digits-range digits-range-0-</validate>
                </field>
                <field id="loader" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1"
                       showInStore="1" canRestore="1">
                    <label>Show Loader</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
    
        </section>
    </system>
</config>
